@inject IViewLocalizer localizer

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<partial name="_CategoriesNavigationMenuPartial" model="@"/>*@

<h1>Services Index</h1>

